# General Settings
LOG=INFO
DATE_FROM=YYYY/MM
DATE_TO=YYYY/MM
SSL_CHECK=True

# Google Sheets Configuration
# Path to your service account JSON file
SERVICE_ACCOUNT_FILE=.config/service_account.json
# Name of the Spreadsheet
GOOGLE_SHEET_NAME=EGI_OKR_Reporting
# Worksheets Names
GOOGLE_CLOUD_WORKSHEET=Cloud
GOOGLE_HTC_WORKSHEET=HTC
GOOGLE_VOS_WORKSHEET=VOs
GOOGLE_VOS_REPORT_WORKSHEET=Report
GOOGLE_ORDERS_WORKSHEET=Orders
GOOGLE_SLAs_WORKSHEET=SLAs

# SLA Specific Sheets (if different)
GOOGLE_SLAs_SHEET_NAME=EGI_SLAs
GOOGLE_SLAs_CLOUD_WORKSHEET=CloudReport
GOOGLE_SLAs_HTC_WORKSHEET=HTCReport
GOOGLE_OLAs_WORKSHEET=OLAs

# Jira Integration
JIRA_SERVER_URL=https://jira.egi.eu/
JIRA_AUTH_TOKEN=your_token_here
SERVICE_ORDERS_PROJECTKEY=EOSC
SERVICE_ORDERS_ISSUETYPE="Service Order"
COMPLAINS_PROJECTKEY=EOSC
VIOLATIONS_PROJECTKEY=EOSC
ISSUETYPE="SLA Violation"

# EGI Operations Portal
OPERATIONS_SERVER_URL=https://operations-portal.egi.eu/api
OPERATIONS_API_KEY=your_api_key_here
OPERATIONS_FORMAT=json
OPERATIONS_VO_LIST_PREFIX=vo-list
OPERATIONS_VO_ID_CARD_PREFIX=vo-id-card
OPERATIONS_VOS_REPORT_PREFIX=vo-report

# EGI Accounting Portal
ACCOUNTING_SERVER_URL=https://accounting.egi.eu
ACCOUNTING_SCOPE=cloud
ACCOUNTING_METRIC=cpu
ACCOUNTING_LOCAL_JOB_SELECTOR=only-local-jobs
ACCOUNTING_VO_GROUP_SELECTOR=vo-group
ACCOUNTING_DATA_SELECTOR=data
